body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('../img/fondoLogin.png') no-repeat center center/cover;
    font-family: 'Segoe UI', sans-serif;
}

.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(10, 10, 30, 0.5));
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginCard {
    background: rgba(20, 20, 20, 0.65);
    border-radius: 15px;
    padding: 30px;
    color: white;
    backdrop-filter: blur(6px);
    border: 1px solid rgb(0, 255, 255);
    box-shadow: 0 0 8px rgb(0, 255, 255);
}

#loginTitle {
    text-align: center;
    margin-bottom: 20px;
    color: #00ffff;
}

.form-control {
    background-color: #2a2a2a;
    border: none;
    color: white;
}

.form-control:focus {
    box-shadow: 0 0 10px #00ffff;
}

#loginButton {
    background: linear-gradient(45deg, #00ffffbe, #007bff);
    border: none;
}

#loginButton:hover {
    opacity: 0.9;
}

#errorMsg {
    color: rgba(255, 123, 0, 0.89);
    font-size: 16px;
    display: none;
}